$primaryColor: #252525;
$bgColor: #1a1a1a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
  font-family: "Poppins", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: whitesmoke;
  background-color: $primaryColor;
  height: 60px;

  .center {
    display: flex;

    p {
      margin: 20px;
      font-size: 14px;
      font-weight: 300px;

      &:hover {
        cursor: pointer;
        font-weight: bold;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .right {
    display: flex;

    .rgt {
      margin: 20px;
      cursor: pointer;
      color: gray;

      &:hover {
        color: lightgray;
      }
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px;

  .nav-left {
    display: flex;
    align-items: center;

    .st-u8 {
      margin: 10px;
      color: gray;
    }

    .dif-white {
      color: whitesmoke;
    }
  }

  .nav-right {
    display: flex;
    align-items: center;

    span {
      margin: 10px;
      color: gray;
    }

    .square-box {
      border: 2px solid gray;
      padding: 3px;
      border-radius: 5px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }
}

main {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;

  .main-title {
    text-align: center;
    h1 {
      padding: 20px;
      color: whitesmoke;
    }
  }

  .product-categories {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $primaryColor;

    .cat-flex {
      display: flex;
      align-items: center;
      color: gray;
      .dif-white {
        color: whitesmoke;
        font-weight: 400;
      }

      p {
        margin: 20px;
      }
    }
  }

  section {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    .product {
      display: flex;
      flex-direction: column;
      background-color: $primaryColor;
      width: 350px;
      height: 400px;
      margin: 20px auto;

      .product-image {
        height: 150px;
        width: 150px;
        margin-top: 20px;
        object-fit: contain;
        margin-left: auto;
        margin-right: auto;
      }
      .item-title {
        color: whitesmoke;
        margin: 20px auto;
      }

      .upper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 20px;
        padding: 10px;
        color: gray;

        .up-left > p {
          border: 1px solid gray;
          padding: 3px;
        }

        .up-right > .mg-5 {
          margin: 5px;
        }
      }

      .lower {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 30px;

        .prdt-price {
          display: flex;
          align-items: center;
          justify-content: space-around;
          color: gray;
          border: 1px solid gray;
          width: 120px;
          height: 40px;
          p {
            font-weight: bold;
          }
        }
      }
      //   background-color: $primaryColor;
    }
  }

  .load-more {
    margin: 40px 0;
    text-align: center;
    color: gray;
  }
}

footer {
  background-color: $primaryColor;
  width: 100%;
  bottom: 0;
  position: fixed;

  .light-gray {
    color: rgb(61, 13, 13);
  }

  .upper-footer {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .same {
      h4 {
        color: gray;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 25px;
      }

      p {
        color: whitesmoke;
        margin: 10px 0;
      }
    }

    .stay-in {
      p {
        border: 1px solid gray;
        color: lightgray;
        text-align: center;
        padding: 8px;
      }
    }
  }

  .lower-footer {
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: gray;

    .center {
      .fab {
        border: 1px solid gray;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 10px;
        margin: 5px;
        text-align: center;
      }
    }

    .right {
      display: flex;

      p {
        margin: 10px;
      }
    }
  }
}
